@font-face {
    font-family: 'Abril Fatface';
    src: local('Abril Fatface Regular'), local('AbrilFatface-Regular'), url('Abrilfatfaceregular.woff2') format('woff2'), url('Abrilfatfaceregular.woff') format('woff'), url('Abrilfatfaceregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
